@page
@model DBSQLONE.Pages.Tables.GuildsModel
@{
    ViewData["Title"] = "Гильдии";
}

<table class="table">
    <thead>
        <tr><th>Ид</th><th>Название</th><th>Описание</th><th>Ид создателя</th><th>Дата создания</th></tr>
    </thead>
    <tbody>
        @foreach (var Row in Model.Table)
        {
            <tr>
                <td><input form="@Row.Id" style="border-width:0;" type="text" name="Id" value="@Row.Id" /></td>
                <td><input form="@Row.Id" style="border-width:0;" type="text" name="NameGuild" value="@Row.NameGuild" /></td>
                <td><input form="@Row.Id" style="border-width:0;" type="text" name="DescriptionGuild" value="@Row.DescriptionGuild" /></td>
                <td><input form="@Row.Id" style="border-width:0;" type="text" name="CreatorIdPlayer" value="@Row.CreatorIdPlayer" /></td>
                <td><input form="@Row.Id" style="border-width:0;" type="text" name="Created" value="@Row.Created.ToShortDateString()" /></td>
                <td><form method="post" id="@Row.Id"><input type="submit" asp-page-handler="Update" value="Изменить" /></form></td>
                <td><input form="@Row.Id" type="submit" asp-page-handler="Delete" value="Удалить" /></td>
            </tr>
        }
        <tr>
            <td>*</td>
            <td><input form="Insert" type="text" name="NameGuild" /></td>
            <td><input form="Insert" type="text" name="DescriptionGuild" /></td>
            <td><input form="Insert" type="number" name="CreatorIdPlayer" /></td>
            <td><input form="Insert" type="date" name="Created" /></td>
            <td><form method="post" id="Insert"><input type="submit" asp-page-handler="Insert" value="Добавить" /></form></td>
        </tr>
    </tbody>
</table>
<h3><font color="#FF0000">@Model.ErrorMessage</font></h3>
