@page
@model IndexModel
@{
    ViewData["Title"] = "Таблица Пользователей";
}
<table class="table">
    <thead>
        <tr><th>Ид</th><th>Имя</th><th>Пароль</th><th>Емайл</th><th>Дата Регистрации</th></tr>
    </thead>
    <tbody>
        @foreach (var Player in Model.Players)
        {
            <tr>
                <td><input form="@Player.Id" style="border-width:0;" type="text" name="Id" value="@Player.Id" /></td>
                <td><input form="@Player.Id" style="border-width:0;" type="text" name="Nickname" value="@Player.Nickname" /></td>
                <td><input form="@Player.Id" style="border-width:0;" type="text" name="Pass" value="@Player.Pass" /></td>
                <td><input form="@Player.Id" style="border-width:0;" type="text" name="Email" value="@Player.Email" /></td>
                <td><input form="@Player.Id" style="border-width:0;" type="text" name="Registered" value="@Player.Registered.ToShortDateString()" /></td>
                <td><form method="post" id="@Player.Id"><input type="submit" asp-page-handler="Update" value="Изменить"/></form></td>
                <td><input form="@Player.Id" type="submit" asp-page-handler="Delete" value="Удалить" /></td>
            </tr>
        }
        <tr>
            <td>*</td>
            <td><input form="Insert" type="text" name="Nickname" /></td>
            <td><input form="Insert" type="text" name="Pass" /></td>
            <td><input form="Insert" type="text" name="Email" /></td>
            <td><input form="Insert" type="date" name="Registered" /></td>
            <td><form method="post" id="Insert"><input type="submit" asp-page-handler="Insert" value="Добавить" /></form></td>
        </tr>
    </tbody>
</table>
<h3><font color="#FF0000">@Model.ErrorMessage</font></h3>

